BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakFunctionDefinitionParameters: false
BreakTemplateDeclarations: Yes
ColumnLimit: 150
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"src/'
    Priority: 1
  - Regex: '^<[[:alnum:]_]+>$'
    Priority: 2
  - Regex: '^<absl/'
    Priority: 3
  - Regex: '^<ns3/'
    Priority: 4
  - Regex: '^<'
    Priority: 5
  - Regex: '.*'
    Priority: 6
IndentWidth: 4
NamespaceIndentation: All
PackConstructorInitializers: Never
PointerAlignment: Left
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000000
SortIncludes: CaseSensitive
Standard: c++20
TabWidth: 4
UseTab: Always
